extends layout

block content 
    .sidebar Cells
        p Click Cells To Change Color Of Surrounding Cells
        p Make All Cells The Same Color.
    .wrapper
        .grid(id="grid")
        script(src="/javascripts/grid.js" type="text/javascript")
