extends layout

block content 
    .sidebar Cells
        p Click Cells To Change Color Of Surrounding Cells.
        p Use The Least Amount Of Touches To Turn Board One Solid Color.  
    .wrapper
        .grid(id="grid")
        script(src="/javascripts/grid.js" type="text/javascript")
