extends layout

block content 
    .sidebar Cells
        p Click Cells To Change Color Of Surrounding Cells. Use The Least Amount Of Touches To Turn Board Completely Dark.
        .totalclicks
            .removeabletotalclicks
    .wrapper
        .grid(id="grid")
        script(src="/javascripts/grid.js" type="text/javascript")
