
.grid{
    background-color: #CAC4CE;
    grid-row: 2;
    grid-column: 2;
}
.wrapper{
    grid-row: 1;
    grid-column: 2; 
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 500px 1fr;
}
body{
    display: grid;
    grid-template-columns: .50fr 700px 1fr;
    grid-template-rows: 100vh;
    margin: 0;
    background-color: #CAC4CE;
}
.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 25vh 25;
    grid-column: 1;
    grid-row: 1/2;
    background-color: #37344A;
    text-align: center;
    font-family: 'Playfair Display';
    line-height: 25vh;
    font-size: 4vw;
    color: white;
}
p{
    font-size: 1vw;
    line-height: 2vw;
}
@media only screen and (max-width: 756px) {
    .wrapper{
        grid-row: 2;
        grid-column: 1;
        text-align: left;

    }
    .sidebar{
        grid-column: 1;
        grid-row: 1;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 20vw;
    }
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }
    p{
        font-size: 6vw;
        line-height: 6vw;
    }
  }